/*渐入动画*/
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*文字闪烁*/
@-webkit-keyframes fadenum {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-moz-keyframes fadenum {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@-o-keyframes fadenum {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fadenum {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }

}

/*下沉动画*/
@-moz-keyframes down {
    0% {
        opacity: 0;
        top: 44%;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 46%;
    }
}

@-webkit-keyframes down {
    0% {
        opacity: 0;
        top: 44%;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 46%;
    }
}

@-o-keyframes down {
    0% {
        opacity: 0;
        top: 44%;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 46%;
    }
}

@keyframes down {
    0% {
        opacity: 0;
        top: 44%;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 46%;
    }
}